.App {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	min-height: 100vh;
	background-image: linear-gradient(to top, #edd6d4 0%, #fcbfd6 100%);
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
}

.alert-hidden {
	opacity: 0;
	transition: all 250ms linear;
}

div.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 0rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
